SQLALCHEMY_DATABASE_URI: 'sqlite:///path_to_db'
DEBUG: True
SECRET_KEY: 'long and string that must not be shared'
UPLOAD_FOLDER: '/path/to/activites/assets/'
ALLOWED_EXTENSIONS:
    - tiff
    - exe
    - jar
