.dl-horizontal dt {
    white-space: normal;
}

dl ul { /* List in a form */
    list-style-type: none;
}

textarea {
    width: 100%;
    height: 6em;
}

ul.flashes {
    color: blue;
    font-weight: bold;
}

ul.errors {
    color: red;
    font-weight: bold;
}
