{% extends "base.html" %}
{% block body %}
<h2>Planning des activités des pôles</h2>

<table>
    <thead>
        <tr>
            <th>Jour</th>
            <th>Début</th>
            <th>Fin</th>
            <th>Responsable</th>
            <th>Nom</th>
        </tr>
    </thead>

    <tbody>
        {% for a in activites %}
        <tr>
            <td>{{ a.debut.date() }}</td>
            <td>{{ a.debut.time() }}</td>
            <td>{{ a.debut.time() }}</td>
            <td><a href="mailto:{{ a.responsable.user.email }}">
                {{ a.responsable.user.nom }}
            </a></td>
            <td><a href="{{ url_for('views.basic.activite', activite_id=a.id) }}">
                {{ a.nom }}
            </td></a>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

