
html, body {
    height: 100%;
    margin: 0;
}

nav ul {
    list-style: none outside none;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav li {
    float: left;
    margin-right: 1px;
    background: #339;
    border: 1px solid black;
}

nav a {
    display: block;
    padding: 0.4em 1em;
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
}

nav a:focus, nav a:hover {
    background: #55b;
    text-decoration: underline;
}

#main-wrapper {
    border-top: 2px solid #339;
}

#main {
    width: 50%;
    margin: auto;
}

dl {
    overflow: hidden;
}

dt, dd {
    float: left;
}


#all-but-footer {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -3em;
}

#push-header, #push-footer, #footer {
    height: 3em;
}

#footer {
    width: 100%;
    background-color: #ccc;
    border-top: 1px solid #aaa;
}

#footer p {
    text-align: center;
    font-size: 0.8em;
}
