{% extends "base.html" %}
{% block body %}
<h2>
    {% if volontaire %}
    Tes activités de la RN
    {% else %}
    Activités de la RN ayant besoin de volontaires
    {% endif %}
</h2>

<table>
    <thead>
        <tr>
            <th>Jour</th>
            <th>Début</th>
            <th>Fin</th>
            <th>Nom</th>
            <th>Lieu</th>
            <th>Responsable</th>
        </tr>
    </thead>

    <tbody>
        {% for a in activites %}
        <tr>
            <td>{{ a.debut|date }}</td>
            <td>{{ a.debut|time }}</td>
            <td>{{ a.fin|time }}</td>
            <td><a href="{{ url_for('views.activite.activite', activite_id=a.id) }}">
                {{ a.nom }}
            </td></a>
            <td>{{ a.lieu }}</td>
            <td><a href="mailto:{{ a.responsable.user.email }}">
                {{ a.responsable.user.name }}
            </a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

Une activité sera attribuée <em>automatiquement</em> à chaque volontaire.
{% endblock %}
