{% from "_formhelpers.html" import render_simple_form %}
{% extends "base.html" %}
{% block body %}
<h2>{{ activite.nom }}</h2>
<dl>
    <dt>Jour</dt> <dd>{{ activite.debut.date() }}</dd>
    <dt>Début</dt> <dd>{{ activite.debut.time() }}</dd>
    <dt>Fin</dt> <dd>{{ activite.fin.time() }}</dd>
    <dt>Nombre de volontaires demandé</dt> <dd> {{ activite.nombre_volontaires }}</dd>
    {% if activite.sexe %}
    <dt>Préférence de sexe des volontaires</dt> <dd>{{ activite.show_sexe() }}</dd>
    {% endif %}
    <dt>Responsable</dt>
    <dd><a href="mailto:{{ activite.responsable.user.email }}">
        {{ activite.responsable.user.name }}
    </a></dd>
</dl>

<p>{{ activite.description }}</p>

{% if ressources %}
Des ressources sont disponibles pour cette activité :
<ul>
    {% for r in ressources %}
    <li><a href="{{ url_for('views.activite.get_asset',
                            activite_id=activite.id,
                            filename=r) }}">{{ r }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
