{% extends "base.html" %}
{% block body %}
<ul>
    {% if volontaire %}
    Tes activités de la RN
    {% else %}
    Les activités de la RN ayant besoin de volontaires
    {% endif %}
    sont les suivantes :
    {% for activite in activites %}
    <li><a href="{{ url_for('views.activite.activite', activite_id=activite.id) }}">{{ activite.nom }}</a>
    le {{ activite.debut.date() }} de {{ activite.debut.time() }} à {{ activite.fin.time() }} à {{ activite.lieu }}
    </li>
    {% endfor %}
</ul>

Une activité sera attribuée <em>automatiquement</em> à chaque volontaire.
{% endblock %}
