<!DOCTYPE html>
<html lang="fr">
<head>
<title>{% block title %}{% endblock %} - RN 2013</title>
    <meta name="viewport" content="with=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
</head>

<body>


<nav class="navbar navbar-default" role="navigation">
    <div class="collapse navbar-collapse">
{% block menu %}
        <ul class="nav navbar-nav">
            <li><a href="{{ url_for('views.basic.index') }}">Index</a></li>
            {% if current_user.is_anonymous() %}
            <li><a href="{{ url_for('views.basic.login_page') }}">Connexion</a></li>
            <li><a href="{{ url_for('views.basic.register') }}">Enregistrement</a></li>
            {% else %}
            <li><a href="{{ url_for('views.basic.logout') }}">Déconnexion</a></li>
            <li><a href="{{ url_for('views.basic.profil') }}">Profil</a></li>

            <li><a href="{{ url_for('views.activite.list_activites') }}">Activités</a></li>

                {% if volontaire %}

                {% elif responsable %}
                <li><a href="{{ url_for('views.responsable.list_activites') }}">Mes activités</a></li>
                {% elif brn %}
                <li><a href="{{ url_for('views.brn.affectations') }}">Affectations</a></li>
                {% endif %}
            {% endif %}
        </ul>
{% endblock menu %}
    </div>
</nav>

<div role="main" id="main" class="container">
    <div id="messages">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    </div>

    <div id="body">
    {% block body %}
    {% endblock %}
    </div>
</div>

<script src={{ url_for('static', filename='css/js/jquery-1.10.2.min.js') }}"></script>
<script src={{ url_for('static', filename='css/js/bootstrap.min.js') }}"></script>
</body>
</html>
