<!DOCTYPE html>
<html lang="fr">
<head>
<title>{% block title %}{% endblock %} - RN 2013</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>

<body>

<div id="all-but-footer">

<nav class="nav-collapse">
{% block menu %}
    <ul>
        <li><a href="{{ url_for('views.basic.index') }}">Index</a></li>
        {% if current_user.is_anonymous() %}
        <li><a href="{{ url_for('views.basic.login_page') }}">Connexion</a></li>
        <li><a href="{{ url_for('views.basic.register') }}">Enregistrement</a></li>
        {% else %}
        <li><a href="{{ url_for('views.basic.logout') }}">Déconnexion</a></li>
        <li><a href="{{ url_for('views.basic.profil') }}">Profil</a></li>

        <li><a href="{{ url_for('views.activite.list_activites') }}">Toutes les activités</a></li>

            {% if volontaire %}

            {% elif responsable %}
            <li><a href="{{ url_for('views.responsable.list_activites') }}">Mes activités</a></li>
            {% elif brn %}

            {% endif %}
        {% endif %}
    </ul>
{% endblock menu %}
</nav>

<div id="push-header"></div>
<div id="main-wrapper">

<div role="main" id="main">
    <div id="messages">
    {% block messages %}
    {% with messages = get_flashed_messages() %}
      {% if messages or message %}
        <ul class="flashes">
        {% if message %}
          <li>{{ message }}</li>
        {% endif %}

        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% endblock %}
    </div>

    <div id="body">
    {% block body %}
    {% endblock %}
    </div>
</div>
</div>

<div id="push-footer"></div>
</div>

<div id="footer">
    <p>Réalisé par <a href="mailto: brunocauet *a* gmail *point* com">Bruno Cauet</a> - <a href="https://github.com/brunal/rn">Fourchette-moi sur github</a></p>
</div>

<script>
    var nav = responsiveNav(".nav-collapse");
</script>

</body>
</html>
