{% from "_formhelpers.html" import render_simple_form, render_form %}
{% extends "base.html" %}
{% block body %}
    <h2>Activité</h2>
    {% if a_id %}
    <p><a href="{{ url_for('views.activite.activite', activite_id=a_id) }}">Visualiser la ficher</a></p>
    {% endif %}

    {% if form %}
        {{ render_simple_form(form) }}
    {% endif %}

    {% if a_id and responsable %}
    <p><a href="{{ url_for('views.responsable.delete_activite', a_id=a_id) }}">
            Supprimer définitivement l'activité
    </a></p>
    {% endif %}

    {% if extensions %}
    <h2>Documents</h2>
    <div>
        <p>Vous pouvez mettre en ligne des documents liés à votre activité. Les extensions autorisées sont
       {% for ext in extensions %}
       {{ ext }}{% if not loop.last %}, {% endif %}
       {% endfor %}. Il n'y a pas actuellement de quota de taille par activité, merci de ne pas abuser.</p>
       <form action="{{ url_for('views.responsable.upload_page', a_id=a_id) }}" method="POST" enctype="multipart/form-data">
            <p><input type="file" name="files" multiple/>
               <input type="submit"/></p>
        </form>
    </div>
    {% endif %}

    {% if files %}
    <div>Fichiers téléversés :
        <ul>
            {% for filename in files %}
            <li><a href="{{ url_for('views.activite.get_asset',
                                    activite_id=a_id,
                                    filename=filename) }}">{{ filename }}</a>
                <a href="{{ url_for('views.responsable.delete_asset',
                                    a_id=a_id,
                                    filename=filename) }}">supprimer</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if assignements %}
    <h2>Affectations manuelles</h2>

    <p>Vous pouvez ici forcer l'affectation de volontaires à cette tâche. Seulement si vous avez une bonne raison</p>
    {% if assigned %}
    <ul>Les personnes affectées à la tâche sont les suivantes :
        {% for ass in assigned %}
        <li>{{ ass.user.name }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form method="POST" action="{{ url_for('views.responsable.assign', a_id=a_id) }}">
        {{ render_form(assignements) }}
        <input type="submit"/>
    </form>
    {% endif %}

{% endblock %}
