{% extends "base.html" %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <p>Bienvenue à vous, qui souhaitez prendre part à l'organisation de la Rencontre Nationale CGE de Paris. Vous débordez d'énergie ? Vous voulez répondre présent à l'appel de Mgr Vingt-Trois, et montrer que Paris sait être hospitalière ? Vous voulez que les participants à la RN se sentent bien dans notre ville, et que l'accueil qu'ils reçoivent en ces journées hivernales répande un baume dans leurs cœurs ? Devenez volontaire !</p>
    <p>Un volontaire, c'est un étudiant francilien qui prête ses bras, qui distribue ses sourires, qui va chercher les brebis égarées dans les rues de Paris, qui danse la choré, qui chante l'hymne, et qui met une ambiance de fou. Bref, si la RN de Paris est une réussite, c'est grâce aux talents des volontaires !</p>
    <p>Commencez par bien lire les informations ci-dessous :</p>

    <h2 id="date-journee">Journée des volontaires</h2>
    <p>Elle aura lieu le samedi 1er février 2014, une semaine avant la RN, à Paris. La présence de tous les volontaires est obligatoire : c'est ce jour-là que toutes les informations importantes sur le rôle précis des volontaires seront données.</p>
    <p>La journée sera consacrée au travail (présentation des responsables de pôle, description minutieuse du programme de la RN…), à la détente (apprentissage de la choré, de l'hymne…) et à la prière, pour que la Rencontre Nationale 2014 porte un maximum de fruit dans les cœurs !</p>

    <h2 id="charte">La charte des volontaires</h2>
<ol>
    <li>les volontaires sont exclusivement des étudiants des aumôneries CGE d'Île-de-France.</li>
    <li>les volontaires s'engagent, par leur inscription même, à être entièrement disponibles pendant trois journées : la journée des volontaires (01/02/2014), et tout le week-end de la RN (08 et 09/02/2014).</li>
    <li>les missions leur seront attribuées via la plate-forme des volontaires, au plus tard deux jours avant la RN.</li>
    <li>être volontaire n'est pas incompatible avec l'organisation d'un atelier thématique ou spirituel : il suffit de se signaler à <a href="mailto:vice-president.brn@cgenational.com">vice-president.brn@cgenational.com</a></li>
    <li>les volontaires qui le souhaitent peuvent aussi s'engager pour des demi-journées additionnelles : jeudi après-midi, vendredi matin, vendredi après-midi, et lundi matin, où leur aide sera bienvenue !</li>
    <li>les volontaires bénéficient, à leur inscription à la RN, d'un tarif réduit (15€ au lieu de 29€). S'ils manquent à leurs engagements, ils doivent payer le tarif normal.</li>
</ol>

    <h2 id="priere">La prière des volontaires</h2>

    <p>Seigneur Jésus-Christ,<br/>
    Tu nous as appelés à participer à l'organisation de la Rencontre Nationale : fais que nos paroles et nos actions conduisent nos frères étudiants à Te connaître davantage.<br/>
    À nous tous, permets de progresser dans la foi, l'espérance et la charité. Que nous avancions vers cette RN dans la confiance, et unis par un amour fraternel ardent.<br/>
    Mets en nous un cœur de serviteur.<br/>
    Envoie sur nous l'Esprit Saint qui rend libre, pour qu'il nous guide dans ce projet commun et nous aide à le mener à son terme.</p>

    <p>Ô Marie, donne-nous à ton exemple d'accomplir joyeusement la volonté du Père.</p>

    <p>Sainte Joséphine Bakhita, priez pour nous !<br/>
    Bienheureux Jean-Paul II, priez pour nous !<br/>
    Amen</p>

    <h2 id="devenir-volontaire">Devenir volontaire</h2>
<p>Inscrivez-vous à <a href="http://inscriptionsrn2014.cgenational.com">cette adresse</a> ! Vous serez ensuite invités à revenir ici avec vos identifiants, renseigner diverses informations et recevoir vos missions.</p>

{% endblock %}
