{% extends "base.html" %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
    <h2 id="date-journee">Journée des volontaires</h2>
    <p>Samedi 1er février !</p>

    <h2 id="inscriptions">Inscriptions</h2>
    <p>Pour s'inscrire, rendez-vous sur ???.</p>

    <h2 id="presentation">La RN, les volontaires</h2>
    <p>Texte texte</p>

    <h2 id="charte">La charte des volontaires</h2>
    <p>Texte texte</p>

    <h2 id="priere">La prière des volontaires</h2>
    <p>Texte texte</p>
{% endblock %}
