{% extends "list_activites.html" %}
{% block title %}Activités configurées{% endblock %}

{% block activites_title %}
Activités que tu as configurées
{% endblock %}

{% block thead_extra %}{% endblock %}
{% block tbody_extra %}{% endblock %}

{% block url_activite %}
{{ url_for('views.responsable.activite_get', a_id=a.id) }}
{% endblock %}

{% block bonus_bottom %}
<p><a href="{{ url_for('views.responsable.activite_get') }}">Ajouter une activité</a></p>
{% endblock %}

{% block url_csv %}
{{ url_for('views.responsable.csv_activites') }}
{% endblock %}
